<br>
<h5> CLICK AND SEE NAME OF THE COLOR <i class="fa fa-arrow-down" aria-hidden="true"></i>
</h5>
<div class="card-group" style="margin-left: 23% ; margin-top: 3%">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: red" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> </div>
    <div class="collapse" id="collapseExample">
      <h1><span class="badge bg-light text-danger">RED</span></h1>
    </div>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: green" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1"> </div>
    <div class="collapse" id="collapseExample1">
      <h1><span class="badge bg-light text-success">GREEN</span></h1>
    </div>
  </div>
</div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <div class="square" style="background: orange" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"> </div>
      <div class="collapse" id="collapseExample2">
        <h1><span class="badge bg-light text-warning">ORANGE</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="card-group" style="margin-left: 23% ; margin-top: 3%">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: yellow"data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3"> </div>
    <div class="collapse" id="collapseExample3">
      <h1><span class="badge bg-light text-warning">YELLOW</span></h1>
    </div>
  </div>
</div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <div class="square" style="background: blue" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4"> </div>
      <div class="collapse" id="collapseExample4">
        <h1><span class="badge bg-light text-primary">BLUE</span></h1>
      </div>
    </div>
  </div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: purple" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5"> </div>
    <div class="collapse" id="collapseExample5">
      <h1><span class="badge bg-light text-secondary">PURPLE</span></h1>
    </div>
  </div>
</div>
</div>
<div class="card-group" style="margin-left: 23% ; margin-top: 3%">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: pink" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6"> </div>
    <div class="collapse" id="collapseExample6">
      <h1><span class="badge bg-light text-secondary">PINK</span></h1>
    </div>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: black" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7"> </div>
    <div class="collapse" id="collapseExample7">
      <h1><span class="badge bg-light text-dark">BLACK</span></h1>
    </div>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <div class="square" style="background: grey" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8"> </div>
    <div class="collapse" id="collapseExample8">
      <h1><span class="badge bg-light text-secondary">GREY</span></h1>
    </div>
  </div>
</div>
</div>
<br>
<br>
