<br>
<h5>CLICK ANIMAL AND SEE THE NAME <i class="fa fa-arrow-down" aria-hidden="true"></i></h5>

<div class="card-group" style="margin-left: 3% ; margin-top: 5%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" src="./assets/img/animals/cat.png" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">CAT</span></h1>
      </div>
    </div>
  </div>

  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" src="./assets/img/animals/dog.jpg" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">DOG</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" src="./assets/img/animals/chicken.jpg" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">CHICKEN</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3" src="./assets/img/animals/pig.jpg" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">PIG</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4" src="./assets/img/animals/parrot.png" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">PARROT</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="card-group" style="margin-left: 3% ; margin-top: 2%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5" src="./assets/img/animals/bear.png" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">BEAR</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6" src="./assets/img/animals/lion.png" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample6">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">LION</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7" src="./assets/img/animals/snake.png" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample7">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">SNAKE</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8" src="./assets/img/animals/zebra.jpg" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample8">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">ZEBRA</span></h1>
      </div>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample9" src="./assets/img/animals/tiger.jpg" width="200px" height="200px" style="padding-right: 3%">
    </div>
    <div class="collapse" id="collapseExample9">
      <div class="card card-body">
        <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">TIGER</span></h1>
      </div>
    </div>
  </div>
</div>
  <div class="card-group" style="margin-left: 3% ; margin-top: 2% ; margin-bottom: 10%">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img  data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample10" src="./assets/img/animals/monkey.png" width="200px" height="200px" style="padding-right: 3%">
      </div>
      <div class="collapse" id="collapseExample10">
        <div class="card card-body">
          <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">MONKEY</span></h1>
        </div>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample11" src="./assets/img/animals/wolf.jpg" width="200px" height="200px" style="padding-right: 3%">
      </div>
      <div class="collapse" id="collapseExample11">
        <div class="card card-body">
          <h1><span class="badge bg-light text-secondary" style="margin-left: 20%">WOLF</span></h1>
        </div>
      </div>
    </div>

  </div>


