
<br>
<h5> ALPHABET TIME! CLICK THE BUTTON AND LEARN <i class="fa fa-arrow-down" aria-hidden="true" style="color: grey"></i>
</h5>
<br>
<div class="card-group" style="margin-left: 3%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/a.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal1">
       LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/b.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal2">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/c.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal3">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/d.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal4">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/e.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal5">
        LEARN
      </button>
    </div>
  </div>
</div>
<div class="card-group" style="margin-left: 3%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/f.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal6">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/g.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal7">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/h.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal8">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <img src="./assets/img/alphabet/i.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal9">
        LEARN
      </button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="./assets/img/alphabet/j.png" height="200" width="180">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal10">
        LEARN
      </button>
    </div>
  </div>
</div>
<div class="card-group" style="margin-left: 3% ">
  <div class="card-group">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/k.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal11">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/l.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal12">
          LEARN
        </button>
      </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/m.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal13">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/n.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal14">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/o.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal15">
          LEARN
        </button>
      </div>
    </div>
</div>

  <div class="card-group">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/p.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal16">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/q.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal17">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/r.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal18">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body text-secondary">
        <img src="./assets/img/alphabet/s.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal19">
          LEARN
        </button>
      </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="./assets/img/alphabet/t.png" height="200" width="180">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal20">
          LEARN
        </button>
      </div>
    </div>
  </div>
  <div class="card-group">
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/u.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal21">
            LEARN
          </button>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/v.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal22">
            LEARN
          </button>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/w.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal23">
            LEARN
          </button>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/x.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal24">
            LEARN
          </button>
        </div>
      </div>
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/y.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal25">
            LEARN
          </button>
        </div>
      </div>
  </div>
  <div class="card-group">
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary">
          <img src="./assets/img/alphabet/z.png" height="200" width="180">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal26">
            LEARN
          </button>
        </div>
      </div>
      </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
<img src="./assets/img/alphabet/A1.gif" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/B1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/C1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/D1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/E1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel6" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/F1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel7" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/G1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel8" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/H1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel9" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/I1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel0" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel10" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/J1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/K1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel12" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel12" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/L1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel13" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel13" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/M1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel14" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel14" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/N1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel15" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel15" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/O1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel16" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel16" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/P1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel17" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel17" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/Q1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel18" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel18" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/R1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal19" tabindex="-1" aria-labelledby="exampleModalLabel19" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel19" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/S1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal20" tabindex="-1" aria-labelledby="exampleModalLabel20" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel20" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/T1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal21" tabindex="-1" aria-labelledby="exampleModalLabel21" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel21" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/U1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel22" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel22" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/V1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal23" tabindex="-1" aria-labelledby="exampleModalLabel23" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel23" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/W1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal24" tabindex="-1" aria-labelledby="exampleModalLabel24" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel24" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/X1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal25" tabindex="-1" aria-labelledby="exampleModalLabel25" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel25" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/Y1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal26" tabindex="-1" aria-labelledby="exampleModalLabel26" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel26" style="color: grey">Connect the DOOTS and LEARN</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/alphabet/Z1.png" height="250" width="250" style="margin-left: 20%">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>






