
<br>
<h5> ARE YOU READY FOR NUMBERS? CLICK THE BUTTON AND LEARN <i class="fa fa-arrow-down" aria-hidden="true"></i>
</h5>
<div class="card-group" style="margin-left: 3% ; margin-top: 2%">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <h5 class="card-title" >ONE</h5>
    <img src="./assets/img/numbers/1.jpg" height="200" width="250">
    <a href="https://www.youtube.com/watch?v=vxffHm4wy24&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=1&ab_channel=SmileandLearn-English"><button type="button" class="btn btn-outline-secondary" style="margin-left: 30% ;margin-top: 5%">LEARN</button></a>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <h5 class="card-title">TW0</h5>
    <img src="./assets/img/numbers/2.jpg" height="200" width="250">
    <a href="https://www.youtube.com/watch?v=D32JZKKgjJg&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=2&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30% ;margin-top: 5%">LEARN</button></a>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <h5 class="card-title">THREE</h5>
    <img src="./assets/img/numbers/3.jpg" height="200" width="250">
   <a href="https://www.youtube.com/watch?v=gIlqG3s6XN4&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=3&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>

  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <h5 class="card-title">FOUR</h5>
    <img src="./assets/img/numbers/4.jpg" height="200" width="250">
    <a href="https://www.youtube.com/watch?v=UfCj_dvNuPI&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=4&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body text-secondary">
    <h5 class="card-title">FIVE</h5>
    <img src="./assets/img/numbers/5.jpg" height="200" width="250">
    <a href="https://www.youtube.com/watch?v=lcRg8AkyuKU&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=5&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
  </div>
</div>
</div>
<div class="card-group" style="margin-left: 3% ; margin-top: 2% ; margin-bottom: 10%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <h5 class="card-title">SIX</h5>
      <img src="./assets/img/numbers/6.jpg" height="200" width="250">
      <a href="https://www.youtube.com/watch?v=oi9tq0PTH7k&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=6&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <h5 class="card-title">SEVEN</h5>
      <img src="./assets/img/numbers/7.jpg" height="200" width="250">
      <a href="https://www.youtube.com/watch?v=mu6mw8aqDCQ&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=7&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30% ;margin-top: 5%">LEARN</button> </a>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <h5 class="card-title">EIGHT</h5>
      <img src="./assets/img/numbers/8.jpg" height="200" width="250">
     <a href="https://www.youtube.com/watch?v=n8COZPpQWgQ&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=8&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body text-secondary">
      <h5 class="card-title">NINE</h5>
      <img src="./assets/img/numbers/9.jpg" height="200" width="250">
      <a href="https://www.youtube.com/watch?v=rSoYRFYT3fA&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=9&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-secondary">TEN</h5>
      <img src="./assets/img/numbers/10.jpg" height="200" width="250">
      <a href="https://www.youtube.com/watch?v=b7hRdKP9HFM&list=PLZS3MUjYqjUGZLdvCFH92mHPqNXxYEjaE&index=10&ab_channel=SmileandLearn-English"> <button type="button" class="btn btn-outline-secondary" style="margin-left: 30%;margin-top: 5%">LEARN</button> </a>
    </div>
  </div>
</div>

