<!--<img src="./assets/img/background2.png" height="300px" style="margin-left: 30%">-->
<br>
<br>
<div class="alert alert-light" role="alert">
  <h5 style="text-align: center; color: grey"> WELCOME LITTLE FRIEND! PICK LEVEL AND LET'S GO! <i class="fa fa-child" aria-hidden="true"></i> </h5>
</div>
<br>

<div class="card-group" style="margin-left: 10%">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header" style="color:blue ; text-align: center" >Level 1</div>
    <div class="card-body text-primary">
      <br>
      <h5 class="card-title">NUMBERS</h5>
      <img src="./assets/img/numbers.png" width="300px" height="300px">
      <button type="button" class="btn btn-outline-primary" routerLink="/numbers" style="margin-left: 35%">LET'S GO</button>
    </div>
  </div>

  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header" style="color: green;text-align: center">Level 2</div>
    <div class="card-body text-success">
      <br>
      <h5 class="card-title">ALPHABET</h5>
      <img src="./assets/img/alphabet3.jpg" width="250px" height="250px">
      <button type="button" class="btn btn-outline-success"routerLink="/alphabet" style="margin-left: 35% ; margin-top: 20%">LET'S GO</button>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header" style="color: orange;text-align: center">Level 3</div>
    <div class="card-body text-warning">
      <br>
      <h5 class="card-title">ANIMALS</h5>
      <img src="./assets/img/animal.png" width="250px" height="250px">
      <button type="button" class="btn btn-outline-warning" routerLink="/animals"style="margin-left: 35% ; margin-top: 20%">LET'S GO</button>
    </div>
  </div>

  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header" style="color: red; text-align: center">Level 4</div>
    <div class="card-body text-danger">
      <br>
      <h5 class="card-title">COLORS</h5>
      <img src="./assets/img/color.png" width="250px" height="250px">
      <button type="button" class="btn btn-outline-danger" routerLink="/colors" style="margin-left: 35% ; margin-top: 20%">LET'S GO</button>
    </div>
  </div>
</div>
<br>

